<div class="card product bg-light">
	<div class="card-header fs-4"><%= name %> - $<%= price %> (x<%= stock %>)</div>
	<img class="m-2 mx-4" src="<%= image || '' %>">
	<div class="card-body">
		<div class="d-flex justify-content-end gap-2">
			<a href="/products/<%= _id %>" class="btn btn-success">More Info</a>
			<form action="/cart/add/<%= _id %>" method="POST">
				<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
				<button class="btn btn-primary">Add to Cart</button>
			</form>
		</div>
	</div>
</div>
